@import "tailwindcss";

@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}

body {
  background-color: rgba(67, 56, 202,0.7);
  scrollbar-width: none;
  -ms-overflow-style: none;
}


/********************************************
Лоадер
*******************************************/
.page-loader {
  width: 48px;
  height: 48px;
  border: 4px solid #ddd;
  border-top-color: #989797;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
