@import "tailwindcss";

@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}


/********************************************
Лоадер
*******************************************/
.page-loader {
  width: 48px;
  height: 48px;
  border: 4px solid #ddd;
  border-top-color: #989797;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.color{
  color: green;
}